body {
	text-align: Center;
	font-family: Helvetica; 
}

.intro {
	background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.begin {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

.process {
	font-size: 32px;
	font-weight: bold;
}

.insert {
	font-weight: bold;
	font-size: 23px;
}

.design {
	font-size: 23px;
	font-weight: bold;
	color: white;
}

.middle {
	font-size: 18px;
	color: white;
}

.end {
	font-size: 11px;
	text-align: left;
	color: white;
	background-color: dimgray;
}

.link {
	font-size: 18px;
}